body{
    background-color:rgb(241, 230, 220);
}

header{
    padding-left: 10px;
    padding-top: 10px;
}

#title{
    
}

ul{
    list-style:none;
    padding:0px;
}
.star{
    float:left;
    height:20px;
    overflow:hidden;
    margin:0;
}

#star_1{
    display:block;
    height:100%;
}

#star_2{
    display:block;
    height:100%;
}