body{
    background-color:rgb(241, 230, 220);
}

#startButton{
    background-color:transparent;
    width: 250px;
    height: 80px;
    padding: 0;
    border: 0;
    margin: auto;
    margin-top: 150px;
    display: block;
}

#inner{
    position: absolute;
    transform: translate(-50%,0%);
    left: 50%;
    top: 20%;
}

#condition{
    
}